.erhvervbody {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    min-width: 800px;
    max-width: 1420px;
    max-height: 700px;
}

.picturesizeErhverv {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.erhvervbillede1 {
    grid-column: 1;
    grid-row: 1;
}

.erhvervbillede2 {
    grid-column: 2;
    grid-row: 1;
}

.erhvervbillede3 {
    grid-column: 1;
    grid-row: 2;
}

.erhvervbillede4 {
    grid-column: 2;
    grid-row: 2;
}

.erhvervtekst {
    grid-column: 2;
    grid-row: 2;
}

.griderhvervomospop {
}
