.omosbody {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.omosbillede .picturesize {
    max-width: 250px;
    max-height: 250px;
    margin: auto;
    display: block;
    min-width: 250px;
    min-height: 250px;
}

.omosbillede {
    grid-column: 2;
    grid-row: 1;
}

.omostekst {
    grid-column: 2;
    grid-row: 2;
}

.omospicturesize {
    max-width: 250px;
    max-height: 250px;
    margin: auto;
    display: block;
    min-width: 250px;
    min-height: 250px;
}


/*2 Grid layer*/
.omospopupbody {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 5% auto 5%;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.omospopupbody .txtbiografi{
    grid-column: 2;
    grid-row: 2;
    background-color: yellow;
}


